<ion-content>
  <div class="login-card">
    <div class="logo-section">
      <ion-img src="assets/img/GLAgro.png" alt="Logo de la Aplicación"></ion-img>
      <h2>LOGIN</h2>
    </div>

    <ion-list lines="none">
      <ion-item>
        <ion-input label="Cédula" labelPlacement="floating" type="text" [value]="cedula()"
          (ionChange)="cedula.set($event.detail.value ?? '')" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Clave" labelPlacement="floating" type="password" [value]="clave()"
          (ionChange)="clave.set($event.detail.value ?? '')" required>
        </ion-input>
      </ion-item>
    </ion-list>

    <!-- 💡 CAMBIO DE *ngIf a @if -->
    @if (loginError()) {
    <ion-note>
      <p class="error-message">{{ loginError() }}</p>
    </ion-note>
    }

    <ion-button expand="block" (click)="onLogin()">
      Iniciar Sesión
    </ion-button>

  </div>
</ion-content>