<ion-header>
    <ion-toolbar>
        <ion-title>Cambiar Contraseña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
    <ion-list>
        <h2 class="section-title">Usuario</h2>
        
        <ion-item lines="full">
            <ion-label position="stacked" class="readonly-field">Nombre de Usuario</ion-label>
            <ion-input type="text" [value]="nombreUsuario()" [disabled]="true" />
        </ion-item>
        
        <ion-item lines="none">
            <ion-label position="stacked" class="readonly-field">Cédula</ion-label>
            <ion-input type="text" [value]="cedulaUsuario()" [disabled]="true" />
        </ion-item>
    </ion-list>

    <ion-list>
        <h2 class="section-title">Actualizar Clave</h2>
        
        <ion-item lines="full">
            <ion-label position="stacked">Contraseña Actual</ion-label>
            <ion-input 
                type="password" 
                placeholder="Ingrese su clave actual"
                [value]="currentPassword()"
                (ionInput)="currentPassword.set($event.detail.value || '')"
            />
        </ion-item>

        <ion-item lines="none">
            <ion-label position="stacked">Nueva Contraseña</ion-label>
            <ion-input 
                type="password" 
                placeholder="Ingrese la nueva clave"
                [value]="newPassword()"
                (ionInput)="newPassword.set($event.detail.value || '')"
            />
        </ion-item>
    </ion-list>

    <div class="ion-padding" style="display: flex; gap: 10px; margin-top: 30px;">
        
        <ion-button 
            expand="block" 
            fill="outline"
            color="dark" 
            (click)="goBack()" 
            style="flex-grow: 1;"
        >
            CANCELAR
        </ion-button>
        
        <ion-button 
            expand="block" 
            (click)="onAttemptChangePassword()"
            [disabled]="!currentPassword() || !newPassword()"
            style="flex-grow: 1;"
        >
            GUARDAR NUEVA CONTRASEÑA
        </ion-button>
    </div>

</ion-content>